{{ template "base" .}}
{{ define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        fugiat mollitia a itaque illum veniam obcaecati corporis. Ducimus, omnis
        sunt. Explicabo fuga officiis minima eum accusamus ratione sit dolor
        quaerat?
      </p>
      <p>Another paragraph.</p>
      <p>This came from the template: {{ index .StringMap "test" }}</p>
    </div>
  </div>
</div>
{{ end }}
